extends ./templates/layout
include mixins/videoPlayer
include mixins/videoBlock
include mixins/recommendBlock

//- block aside
//-   aside.sidebar
//-     .menu
//-         i.fas.fa-home
//-         span 홈
//-     .menu
//-         i.fas.fa-fire
//-         span 인기
//-     .menu
//-         i.fas.fa-film
//-         span 구독
//-     .menu
//-         i.fas.fa-file-video
//-         span 보관함
//-     .menu
//-         i.fas.fa-history
//-         span 시청기록

block content
  .whole-container
    .video-detail__container
      .videoPlayer
        +videoPlayer({
          src: video.fileUrl
        })
      .video__info
        h5.video__title=video.title
        .sub_title
          span.video__views 조회수 #{video.views}회
          .bullet
            |•
          p #{String(video.createdAt).split(" ").slice(0, 4).join(" ")}
        .video__description
          .video__description-creator
            .video__description-creator-col
              a.video__description__avatar(href=routes.userDetail(video.creator.id))
                if video.creator.avatarUrl
                  img.avatar(src=video.creator.avatarUrl)
                else
                  .avatar
                    span=String(video.creator.name[0]).toUpperCase()

              .video__description__author
                if video.creator.name
                  a.author(href=routes.userDetail(video.creator.id))
                    p.creatorName=video.creator.name
                  span.creatorSubscribers 구독자&nbsp;
                    span#jsFollowerNumber=followers.length
                  span.creatorSubscribers 명
                else
                  a.author(href=routes.userDetail(video.creator.id))
                    p.creatorName=video.creator.email
                  span.creatorSubscribers 구독자&nbsp;
                    span#jsFollowerNumber=followers.length
                  span.creatorSubscribers 명
            .video__description-creator-col
              .video__description-edit
                if loggedUser && video.creator.id === loggedUser.id
                  button
                    a(href=routes.editVideo(video.id)) Edit Video
                else
                  if isFollowing
                    button.unsubscribe#jsSubscribe
                      span(id=`${video.creator.id}`) Unsubscribe
                  else
                    button.subscribe#jsSubscribe
                      span(id=`${video.creator.id}`) Subscribe
                      //- if loggedUser
                      //-   input#jsCheckLogin(type="hidden", value=loggedUser.name)
          p.video__description__text=video.description
      .video__comments
        if video.comments.length === 1
          span.video__comments-number
            span#jsCommentNumber 1
            |&nbsp;comment
        else
          span.video__comments-number
            span#jsCommentNumber #{video.comments.length}
            |&nbsp;comments
        form.add__comment#jsAddComment
          if loggedUser
            input(type="text", id="js-comment", placeholder="Add a comment", autocomplete="off")
          else
            input(type="text", id="js-comment", placeholder="Please log in or cannot leave a comment", autocomplete="off", disabled)
        .comments
          ul.comments__list
            each comment in commentData.reverse() 
              li.comment
                .avatar
                  a(href=routes.userDetail(comment.creator_id))
                    if comment.avatarUrl
                      img(src=comment.avatarUrl, width="50", style="border-radius: 100%;")
                    else
                      img(src="https://source.unsplash.com/50x50/?white", width="50", style="border-radius: 100%;")

                .text
                  span.creator
                    a(href=routes.userDetail(comment.creator_id)) #{comment.creator_name}
                  span.content=comment.text
                span.jsDeleteComment
                  form.delete__comment#jsDeleteComment
                    input(type="hidden", class="commentID", name="commentID", value=comment.id)
                    //- if loggedUser
                    if loggedUser && comment.creator_id === loggedUser.id
                      input.deleteBtn(type="submit", value="DELETE")

          //- ul.comments__avatar-list
            each commentAvatar in commentAvatars
              li.commentAvatar
                if commentAvatar.length > 0
                  img(src=commentAvatar, width="50", style="border-radius: 100%;")
                else
                  .no-avatar
                    //- span=
          //- ul.comments__text-list
            each comment in video.comments.reverse() 
              li.commentText
                //- img(src=comment.creator.avatarUrl)
                span=comment.text
                span #{comment.creator}
                span.jsDeleteComment
                  form.delete__comment#jsDeleteComment
                    input(type="hidden", class="commentID", name="commentID", value=comment.id)
                    input.deleteBtn(type="submit", value="DELETE")
    .recommend__container
      span.recommend__text 다음 동영상
      each item in recommendVideos
        +recommendBlock({
          id: item.id,
          title: item.title,
          views: item.views,
          videoFile: item.fileUrl,
          creatorID: item.creator.id,
          creatorName: item.creator.name,
          createdAt: String(item.createdAt).split(" ").slice(0, 4).join(" ")
      })